<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="../static/CSS/style_new.css" />
  </head>

  <body>
    <div class="main_div">
      <div id="video_place">
        <video id="vid" class="video" autoplay muted></video>
      </div>
      <div id="content"></div>
      <button id="capture_button">Take Photo</button>
      <canvas id="canvas2"></canvas>
      <img id="img" src="" />
    </div>
    <script defer src="../static/app.js"></script>
    <script src="../static/jquery.min.js"></script>
  </body>
</html>
